span {
  --inactive: #9bc9eb;
  --active: #98eeb3;
  --speed: 1.2s;
  --size: 30px;
  --unit: 10px;
}

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.spinner-double-section-far {
  display: block;
  float: left;
  width: 1.5625em;
  height: 1.5625em;
  border-radius: 50%;
  border: 1.5625px solid var(--inactive);
  animation: spinner var(--speed) linear infinite;
  position: relative;
}

.spinner-double-section-far:before,
.spinner-double-section-far:after {
  top: -0.375em;
  left: -0.375em;
  width: 2.065em;
  height: 2.065em;
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 3.125px solid transparent;
  border-top-color: var(--active);
}

.spinner-double-section-far:after {
  border-top-color: transparent;
  border-bottom-color: var(--active);
}

.spinner-small .loading-indicator {
  margin-top: -2px;
  transform: scale3d(0.9, 0.9, 0.9);
}

.spinner-small .spinner-double-section-far {
  border-color: white;
}

.spinner-small .spinner-double-section-far:before,
.spinner-small .spinner-double-section-far:after {
  border-top-color: white;
}

.spinner-small .spinner-double-section-far:after {
  border-bottom-color: white;
}