@font-face {
    font-family: 'Silka ExtraLight';
    src: url('../fonts/silka-extralight-webfont.eot');
    src: url('../fonts/silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-extralight-webfont.woff2') format('woff2'),
        url('../fonts/silka-extralight-webfont.woff') format('woff'),
        url('../fonts/silka-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silka Thin';
    src: url('../fonts/silka-thin-webfont.eot');
    src: url('../fonts/silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-thin-webfont.woff2') format('woff2'),
        url('../fonts/silka-thin-webfont.woff') format('woff'),
        url('../fonts/silka-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silka Regular';
    src: url('../fonts/silka-regular-webfont.eot');
    src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-regular-webfont.woff2') format('woff2'),
        url('../fonts/silka-regular-webfont.woff') format('woff'),
        url('../fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silka Medium';
    src: url('../fonts/silka-medium-webfont.eot');
    src: url('../fonts/silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-medium-webfont.woff2') format('woff2'),
        url('../fonts/silka-medium-webfont.woff') format('woff'),
        url('../fonts/silka-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silka SemiBold';
    src: url('../fonts/silka-semibold-webfont.eot');
    src: url('../fonts/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-semibold-webfont.woff2') format('woff2'),
        url('../fonts/silka-semibold-webfont.woff') format('woff'),
        url('../fonts/silka-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Silka Bold';
    src: url('../fonts/silka-bold-webfont.eot');
    src: url('../fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/silka-bold-webfont.woff2') format('woff2'),
        url('../fonts/silka-bold-webfont.woff') format('woff'),
        url('../fonts/silka-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silka Black';
    src: url('../fonts/silka-black-webfont.eot');
    src: url('../fonts/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-black-webfont.woff2') format('woff2'),
         url('../fonts/silka-black-webfont.woff') format('woff'),
         url('../fonts/silka-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Silka Light';
    src: url('../fonts/silka-light-webfont.eot');
    src: url('../fonts/silka-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-light-webfont.woff2') format('woff2'),
         url('../fonts/silka-light-webfont.woff') format('woff'),
         url('../fonts/silka-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeue-Roman.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HelveticaNeueBold.woff') format('woff');
}
