@tailwind base;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  overflow-x: hidden;
}

body {
  @apply bg-white font-helveticaNeueLight;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-indigo-500;
}

a:hover {
  @apply text-blue-600;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply opacity-90 text-blue-900;
}

p {
  @apply opacity-80 tracking-wider text-blue-900;
}

form {
  @apply flex flex-col;
}

label {
  @apply cursor-pointer font-silkaSemiBold text-gray-800 block pb-2;
}

label .light {
  @apply font-silkaRegular text-gray-600;
}

input:not([type='submit']),
textarea,
button:not(.burger) {
  @apply font-silkaMedium flex-1 bg-white appearance-none border-2  border-transparent rounded py-2 px-4 text-gray-700 leading-tight;
}

input:not([type='submit']):hover,
textarea:hover,
button:not(.burger):hover {
  @apply border-gray-300;
}

input:not([type='submit']):focus,
textarea:focus,
button:not(.burger):focus {
  @apply outline-none border-gray-500;
}

input[type='submit'],
button:not(.burger) {
  @apply font-silkaMedium text-sm border-blue-400 border-2 flex-shrink-0 bg-blue-500 text-white font-bold py-2 px-4 rounded cursor-pointer;
}

input[type='submit']:hover,
button:not(.burger):hover {
  @apply border-blue-500 bg-blue-300;
}

input[type='submit']:focus,
button:not(.burger):focus {
  @apply outline-none shadow-outline;
}

dt {
  @apply font-silkaSemiBold text-orange-600;
}

dd {
  @apply font-silkaRegular;
}

@screen lg {
  dl {
    clear: both;
    width: 100%;
    /* overflow: hidden; */
    padding: 0;
    margin: 0
  }

  dt {
    float: left;
    text-align: right;
    width: 25%;
    padding: 2px 10px 0 3px;
    margin: 0
  }

  dd {
    float: left;
    width: 75%;
    padding: 2px 3px 0;
    margin: 0
  }
}

@tailwind components;
@tailwind utilities;
@tailwind screens;

.nav-title {
  padding-top: 2px;
}

@media (max-width: 768px) {
  .animate-height-0 {
    height: 0;
    overflow: hidden;
  }

  .animate-height-40 {
    height: 40px;
    overflow: hidden;
  }
}

@screen lg {
  .card-custom-max-width {
    max-width: 27rem;
  }
  
  .card-custom-height {
    height: 18rem;
  }
}

.max-width-1\/2 {
  max-width: 50%;
}

.section-min-height {
  min-height: 70vh;
}

.burger {
  transform: scale(0.6) translateX(20px);
}

.wrap-everything {
  @apply whitespace-pre-line break-all;
}
