@tailwind base;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  @apply bg-white font-helveticaNeueLight;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-indigo-500;
}

a:hover {
  @apply text-blue-600;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply opacity-90 text-blue-900;
}

p {
  @apply opacity-80 tracking-wider text-blue-900;
}

input[type='text'],
textarea,
button {
  @apply font-silkaRegular flex-1 bg-white appearance-none border-2  border-transparent rounded py-2 px-4 text-gray-700 leading-tight;
}

input[type='text']:hover,
textarea:hover,
button:hover {
  @apply border-gray-300;
}

input[type='text']:focus,
textarea:focus,
button:focus {
  @apply outline-none shadow-outline border-gray-300;
}

input[type='submit'],
button {
  @apply font-silkaMedium text-sm border-blue-400 border-2 flex-shrink-0 bg-blue-500 text-white font-bold py-2 px-4 rounded cursor-pointer;
}

input[type='submit']:hover,
button:hover {
  @apply border-white bg-blue-300;
}

input[type='submit']:focus,
button:focus {
  @apply outline-none shadow-outline;
}

@tailwind components;
@tailwind utilities;
@tailwind screens;

.nav-title {
  padding-top: 4px;
}

.card-custom-max-width {
  max-width: 27rem;
}

.card-custom-height {
  height: 18rem;
}

.max-width-1\/2 {
  max-width: 50%;
}

.section-min-height {
  min-height: 70vh;
}

.trans {
  transition: all .25s;
}

.trans-bg {
  transition-property: background;
}

.trans-slow {
  transition-duration: .5s;
}

.trans-slower {
  transition-duration: .5s;
}

.trans-fast {
  transition-duration: .15s;
}

.trans-faster {
  transition-duration: .075s;
}